<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PIRATES OF CARRIBEAN</title>
</head>
<body>
<h1
    style="text-align: center;text-shadow: -2px 1px 20px black;box-shadow: inset -5px -4px black;color: #1d6705;">jack sparrow</h1>
    <a href="https://en.wikipedia.org/wiki/Jack_Sparrow"></a>
<img src="7519.jpg" height="750" width="1200" "alt="capt">

<h2 style="
    text-align: center;
    background-color: #f1ecec;
    text-shadow: 0px -2px 20px black;
    box-shadow: 2px 1px 8px 12px black;
    color: #4b11d3;
">history</h2>
<a href="https://en.wikipedia.org/wiki/Jack_Sparrow"><button>more about</button></a>
<a href="https://en.wikipedia.org/wiki/Pirates_of_the_Caribbean:_The_Curse_of_the_Black_Pearl">black pearl</a>
<p>In the films, Sparrow is one of the nine pirate lords in the Brethren Court, <br>the Pirate Lords of the Seven Seas. He can be treacherous and survives mostly by using wit and negotiation rather than by force, opting to flee most dangerous situations and to fight only when necessary. Sparrow is introduced seeking to regain his ship, the Black Pearl, from his mutinous first mate, Hector Barbossa. Later, he attempts to escape his blood debt to the legendary Davy Jones while fighting the East India Trading Company.

The Pirates of the Caribbean series was inspired by the <strong>disneys</strong> Disney theme park ride of the same <mark>arnold</mark> name, <sub>dasappan</sub>and when the ride was revamped in 2006, the character of Captain Jack Sparrow was added to it. He headlined the Legend of Captain Jack Sparrow attraction at Disney's Hollywood Studios, and is the subject of spin-off novels, including a children's book series Pirates of the Caribbean: Jack Sparrow, which chronicles his teenage years.</p>
<h3>
<a href="https://en.wikipedia.org/wiki/Flying_Dutchman">flying dutchman</a>
</h3>
<ul>
    <li><a href="https://dictionary.cambridge.org/dictionary/english/pirate">pirate</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Caribbean">carribean</a></li>
</ul>
<img src="https://media3.giphy.com/media/o0eOCNkn7cSD6/giphy.webp?cid=790b761168f348e1a85617503f4bf6538a74313fad74b709&rid=giphy.webp" alt="abc">
</body>
